/* Simple CSS Reset */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
:root {
	--btn-color: #F3F0E8;
	--bag-iten-selected-color: yellow;
	--bg-color-bag-item: blue;
	--bg-itens-div: red;
}

body {
	background: #f7b733;
}

.container {
	display: flex;
}


.input-value input {
	padding: 5px;
	margin: 5px;
	width: 95%;
}


.btn-start {
	padding: 10px;
	margin-top: 10px;
	width: 100%;

	background: var(--btn-color);
}

.input-value {
	width: 100%;
	margin: 2px;
}

.params-inputs {
	background: #dfdce3; /* just test */
	width: 300px;

	margin-left: 30px;
	margin-top: 15px;
	padding: 20px;

	overflow: hidden;

}

.ct-chart {
	width: 50%; /* Just for test - define the best way here */
	height: 400px;
	margin-top: 15px;
	flex-grow: 1;
}

.container-itens {
	margin-top: 30px;
	background-color: var(--bg-itens-div);

	width: 100%;

    overflow-x: auto; /* <-- show horizontal scrollbar */
    overflow-y:hidden; /* <-- hide vertical scrollbar */
    white-space:nowrap;
}

.itens{
	display: inline-block;
	
	background: var(--bg-color-bag-item);

	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
}

.itens:first-child {
	margin-left: 15px;
}

.selected {
	background: var(--bag-iten-selected-color);
}